@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    width: auto;


}

.footer {
    background: rgba(11, 113, 37, 0.1);
    margin-top: 100px;
    padding-top: 35px;

}

.contenfooter {
    display: flex;
    justify-content: start;
}

.footer .cardfooter {
    display: block;
    width: 100%;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 4px 47px rgba(85, 85, 85, 0.25);
    border-radius: 0px 50px;
    margin-left: 200px;
}

.footer .cardfooter .logofooter {
    margin-left: 30px;
}

.footer .cardfooter .imgiconfooter {
    margin-left: 50px;
}

.footer .cardfooter .imgiconfooter .imgfooter1 {
    display: flex;
}

.footer .cardfooter .imgiconfooter .imgfooter1 p {
    margin-top: 5px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: rgba(85, 85, 85, 0.7);
}

.footer .cardfooter .imgiconfooter .imgfooter1 font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #555555;
}

.footer .cardfooter .imgiconfooter .imgfooter1 img {
    height: 60px;
    margin-left: -5px;
}

.footer .cardfooter .imgiconfooter .imgfooter2 {
    display: flex;
}

.footer .cardfooter .imgiconfooter .imgfooter2 p {
    margin-top: 30px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: rgba(85, 85, 85, 0.7);
}

.footer .cardfooter .imgiconfooter .imgfooter2 font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #555555;
}

.footer .cardfooter .imgiconfooter .imgfooter2 img {
    margin-top: 30px;
    width: 50px;
    height: 50px;

}

.footer .cardfooter .imgiconfooter .imgfooter3 {
    display: flex;
}

.footer .cardfooter .imgiconfooter .imgfooter3 p {
    margin-top: 30px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: rgba(85, 85, 85, 0.7);
}

.footer .cardfooter .imgiconfooter .imgfooter3 font {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #555555;

}

.footer .cardfooter .imgiconfooter .imgfooter3 label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    /* B */

    color: #0B7125;
}

.footer .cardfooter .imgiconfooter .imgfooter3 img {
    margin-top: 30px;
    margin-left: 3px;
    width: 50px;
    height: 60px;
}

.footer .contenfooter {
    display: flex;
}

.footer .contenfooter h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */


    color: #555555;
}

.footer .contenfooter li {
    list-style: none;
}

.footer .contenfooter li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */
    transition: 0.4s;
    color: rgba(85, 85, 85, 0.7);
}

.footercopyright {
    padding: 1em 0 1em 0;
    text-align: center;
}

.footercopyright footer {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    text-align: center;

    color: rgba(85, 85, 85, 0.7);
}

.footercopyright footer font {
    color: #0B7125;
}

@media (min-width: 768px) {
    .contenfooter {
        justify-content: end;
    }

    .footer .cardfooter {
        width: 150%;
    }
}