@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    border-bottom: 2.5px solid rgba(119, 119, 119, 0.5);
    padding-top: -200px;

}

.header .navbar-brand {
    height: 100px !important;
}

.header .logo {
    width: 100%;
    margin-top: -5px;
}

.header .iconjam {
    margin-top: -18px;
}

.header .day {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    margin-left: 10px;
    /* identical to box height */
    color: #555555;
}

.header .text {
    color: #0B7125;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}

.navbar {
    box-shadow: 0px 13px 20px rgba(153, 153, 153, 0.2);
}

.navbar .nav-link {
    font-weight: 500 !important;
    color: #555555 !important;
}
.navbar li .call {
    margin-left: 90px;
}
.navbar li a span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(85, 85, 85, 0.7);
}


@media (min-width: 768px) {
    .header .logo {
        width: 150px;
    }

    .header .day {
        font-weight: 500;
        font-size: 18px;
    }

    .header .text {
        font-weight: 700;
        font-size: 18px;
    }
    .navbar .navbar-nav{
        font-size: 18px;
    }
}