.no_shadow {
    box-shadow: none !important;
  }
  
  
  /*hero*/
.hero .judul{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #0B7125;
  }
  .hero .desk{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* or 31px */
    color: #555555;
  }
  .hero .button{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    padding: 1em;
    width: 225px;
    height: 70px;
    background: #0B7125;
    border-radius: 50px;
    border-radius: 50px;
    color: #FFFFFF; 
  }
  
  
  
  
  
  /*about*/
  .about h1{
      color: #555555;
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 54px;
  }    
  .about h1 font{
      color: #0B7125;
      font-weight: bold;
  }
  .about h2{
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 35px;
          /* identical to box height */
          /* B */
          color: #0B7125;
  }
  .about p{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      /* or 31px */
      color: #555555;
      margin-bottom: 30px;
  }
  .about a{
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */
      background: #0B7125;
      border-radius: 50px;
      padding: 1em;
      margin-top: 130px;
      color: #FFFFFF; 
  }
  
  
  
  
  
  /*appointment*/
  .make-appointment{
      margin-top: 70px;
      position: relative;
      background:url('../gambar/heromake.png');
  }
  .make-appointment h1{
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      /* identical to box height */
      color: #FFFFFF;
  
  }
  .make-appointment h1 font{
      font-weight: bold;
      color: #0B7125;
      font-style: normal;
      font-size: 36px;
  }
  .make-appointment p{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      /* or 31px */
      color: #FFFFFF;
      margin-bottom: 30px;
  }
  
  .make-appointment a{
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */
      background: #0B7125;
      border-radius: 50px;
      padding: 14px 17px 14px 17px;
      color: #FFFFFF;
  }    
  .make-appointment .img{
      width: 200px;
      position: absolute;
      margin-top: -95px;
  }
  
  
  
  /*layanan*/
  .layanan h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #0B7125;
    }
  
    .layanan p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 175%;
      /* or 24px */
      color: #555555;
    }
    .layanan .button{
        display: flex;
        justify-content: center;
    }
    .layanan .button a{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */
      text-align: center;
      text-decoration: none;
      color: #FFFFFF;
      background: #0B7125;
      border-radius: 50px;
      padding: 14px 20px 14px 20px;
      margin-top: 100px;
    }
    .layanan .row .box:hover{
        width: 270px;
        height: 300px;
        background: rgba(11, 113, 37, 0.7);
        border-radius: 100px 0px;
    }
    .layanan .first-box{
        position: relative;
        margin-left: 100px;
    }
    
    .layanan .first-box img{
        width: 270px;
        height: 300px;
        border-radius: 100px 0px;
        background-size:cover;
    }
    .layanan .first-box .box{
        top: 0;
        position: absolute;
        overflow: hidden;
        width: 270px;
        height: 300px;
       
        
        background: linear-gradient(0deg, #0B7125 9.43%, rgba(11, 113, 37, 0) 100%);
        border-radius: 100px 0px;
    }
    .layanan .first-box .box h2{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        /* identical to box height, or 31px */
        
        padding: 200px 0px 0px 32px;
        color: #FFFFFF;
    }
    .layanan .first-box .box p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 135%;
        /* or 16px */
        width: 250px;
        height: 100%;
        padding: 0px 0px 0px 32px;
        color: rgba(255, 255, 255, 0.7);
    }
    .layanan .boximg-1{
        position: relative;
    }
    .layanan .boximg-1 .box{
        top: 0;
        position: absolute;
        overflow: hidden;
        width: 270px;
        height: 300px;
       
        
        background: linear-gradient(0deg, #0B7125 9.43%, rgba(11, 113, 37, 0) 100%);
        border-radius: 100px 0px;
    }
    .layanan .box h2{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        /* identical to box height, or 31px */
        
        padding: 200px 0px 0px 32px;
        color: #FFFFFF;
    }
    .layanan .box p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 135%;
        /* or 16px */
        
        padding: 0px 0px 0px 32px;
        color: rgba(255, 255, 255, 0.7);
    }
    .layanan .boximg-2{
        position: relative;
        margin-left: -100px;
    }
    .layanan .boximg-2 .box{
        top: 0;
        position: absolute;
        overflow: hidden;
        width: 270px;
        height: 300px;
       
        
        background: linear-gradient(0deg, #0B7125 9.43%, rgba(11, 113, 37, 0) 100%);
        border-radius: 100px 0px;
    }
    .layanan .box h2{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        /* identical to box height, or 31px */
        
        padding: 200px 0px 0px 32px;
        color: #FFFFFF;
    }
    .layanan .box p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 135%;
        /* or 16px */
        
        padding: 0px 0px 0px 32px;
        color: rgba(255, 255, 255, 0.7);
    }
  
  
    /*testimoni*/
    .testimoni .judul h1{
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 41px;
  
      color: #555555;
      margin-top: 100px;
      margin-left: 32px;
  }
  .testimoni .judul font{
      color: #0B7125;
      font-weight: 600;
  }
  .testimoni .judul p{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 175%;
      /* or 31px */
      color: #555555;
      margin-top: 10px;
      margin-left: 32px;
  }
  .slide .boxslide{
      display: flex;
      width:100%;
      background: #FFFFFF;
      box-shadow: 0px 4px 25px rgba(85, 85, 85, 0.25);
      border-radius: 0px 20px;
      padding:25px
  }
  
  .slide .boxslide .icon{
      width: 50px;
      height: 50px;
  }
  .slide .boxslide .texttesti{
      margin-top: 10px;
  }
  .slide .boxslide p{
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 137%;
      /* or 25px */
      color: #555555;
  }
  .slide .starimg img{
      width: 20px;
  }
  .slide .boxslide .texttesti .pasien h1{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      /* or 17px */
      
      margin-top: 12px;
      color: rgba(85, 85, 85, 0.8);
      
  }
  .slide .boxslide .texttesti .pasien h1 font{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      /* or 17px */
      
      color: rgba(11, 113, 37, 0.8);
  }
  
  
  
  
  /*certificatedoctor*/
  .certifikatdoktor h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 54px;
      /* identical to box height */
      color: #555555;
    }
    .certifikatdoktor font {
      color: #0B7125;
    }
    .text-title-doctor .title{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        text-align: center;
        
        color: #555555;
    }
    .text-title-doctor .judul{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        
        text-align: center;
        
        /* B */
        
        color: #0B7125;
    }
    .text-title-doctor .paragraf{
        width: 250px;
        margin: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        
        color: rgba(85, 85, 85, 0.8);
    }
  
  
    /*galery*/
    .galeri{
      height: 750px;
      margin-top: 100px;
      
      background: #EEEEEE;
  }
  .galeri h2{
      padding-top: 100px;
      text-align: center;
      
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      /* or 29px */
      
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      
      color: #555555;
  }
  .galeri h1{
      margin-top: 19px;
      text-align: center;
  
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      
      /* B */
      
      color: #0B7125;
  }
  
  
  
  
  /*location*/
   
  .location .label{  
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      /* identical to box height */
      color: #555555;
      
  }
  .location .label font{
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      /* identical to box height */
      text-align: center;
      /* B */
      color: #0B7125;
  }
  
  
  .location .desk h1{
      margin-top: 0.5em;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 54px;
      /* identical to box height */
      margin-top: 1.5em;
      color: #0B7125;
  }
  .location .desk p{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 175%;
      /* or 31px */
      margin-top: 1em;
      margin-bottom: 1em;
      color: #555555;
      margin-bottom: 30px;
  }
  
  .location .desk a{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */
      
      text-decoration: none;
      color: #FFFFFF;
      background: #0B7125;
      border-radius: 50px;
      padding: 14px 20px 14px 20px;
      margin-top: 100px;
  }
  
  
  
  
  /*artikel*/
   
  .artikel{
      background: #EEEEEE;
  }
  .artikel .title h1{
      padding-top: 60px;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      /* identical to box height */
      
      text-align: center;
      
      color: #555555;
  }
  .artikel .title font{
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      /* identical to box height */
      
      text-align: center;
      
      /* B */
      
      color: #0B7125;
      
  }
  
  .artikel .card-1{
      height: 540px;
      top: 6638px;
      background: #FFFFFF;
      box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
      border-radius: 0px 50px;
  }
  .artikel .card-body .subtitle{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      
      
      color: #555555;
  }
  .artikel .card-body a{
      text-decoration: none;
  }
  .artikel .card-body a .card-title{
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 111.5%;
      /* or 27px */
      
      color: #0B7125;
  }
  .artikel .card-body .card-text{
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 111.5%;
      /* or 20px */
      margin-top: 25px;
      
      color: rgba(11, 113, 37, 0.7);  
  }
  .artikel .card-body .card-link{
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      /* identical to box height */
      
      
      /* B */
      text-decoration: none;
      color: #0B7125;
  }
  .artikel .button{
      margin-top: 4em;
      display: flex;
      justify-content: center;
  }
  .artikel .button a{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */
      background: #0B7125;
      padding: 0.75em;
      border-radius: 1em;
      text-decoration: none;
      color: #FFFFFF;
  }
  
  
  
  @media (min-width: 768px) {
  /*hero*/
  .hero .judul{
    font-size: 48px;
    line-height: 72px;
  }
  .hero .desk{
    line-height: 175%;
  }
  
  
  
  
  /*about*/
  .about h2{
      font-size: 35px;
          line-height: 49px;
  }
  .about p{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 175%;
      /* or 31px */
      color: #555555;
  }
  
  
  
  /*appointment*/
  .make-appointment{
      margin-top: 130px;
    }
    .make-appointment p{
      line-height: 175%;
    }
    .make-appointment .img{
      width: 300px;
      margin-left: 280px;
      margin-top: -145px;
  }
  
  
  /*layanan*/
  .layanan{
      margin-top: 120px !important;
    }
    .layanan .first-box{
  margin-top: 135px;
  }
  
  
  /*testimoni*/
  .testimoni .wrap{
      margin-left: -220px;
      padding: 0px 55px 0px 55px;
    }
    .slide .starimg img{
  width: 40px;
  }
  
  
  
  /*certificatedoctor*/
  .certifikatdoktor h1 {
      font-size: 36px;
    }
  
  
  /*galerry*/
  .galeri{
      height: 650px;
        }
  
  
  
  /*location*/
  .location .desk h1{
      font-size: 36px;
     }
  }