* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    width: auto;
}



.contenhero .row .page{
    display: flex;
}
.contenhero .row .page .text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    
    color: #555555;
}
.contenhero .row .page .text font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    
    /* B */
    
    color: #0B7125;
    
}
.contenhero .row .page .text p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
    color: rgba(85, 85, 85, 0.8);
    margin-top: 30px;
}
.visi-misi {
    margin-top: 70px;
}

.visi-container {
    width: 560px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 3px 53px rgba(149, 149, 149, 0.25);
    border-radius: 100px 0px;
    text-align: center;
    margin-top: 70px;
    margin-left: 223px;
    padding: 30px 70px;
}

.header-visi {
    width: 197px;
    height: 51px;
    background: #0B7125;
    text-align: center;
    margin: 10px auto;
    border-radius: 50px;
    
}

.header-visi h1 {
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 51px;
    letter-spacing: 0.43em;
    color: #FFFFFF;
 
}

.visi-container p {
    /* font-family: Poppins; */
    width: 500px;
    margin-left: -35px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #555555;
}


.misi-container {
    height: 630px;
    width: 657px;
    width: 657px;
    height: 630px;
    left: 478px;
    top: 1272px;

    background: #FFFFFF;
    box-shadow: 0px 2px 53px rgba(149, 149, 149, 0.25);
    border-radius: 0px 100px;

    padding: 30px 70px;
    margin-top: 70px;
    margin-left: 600px;
}


.header-misi {
    margin: 0 auto;
    width: 197px;
    height: 51px;
    border-radius: 50px;
    background: #0B7125;
    border-radius: 50px;
    margin-bottom: 50px;

}

.header-misi h1 {
    margin: 30px 38px;
    color: white;
    font-weight: 600;
    font-size: 36px;
    line-height: 51px;
    letter-spacing: 0.43em;
    text-align: center;
    /* text-align: center; */
}

.misi-container p {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #555;
}


.our-team {
   
    width: 100%;
    /* height: 1645px; */
    margin-top: 100px;
    /* background: #eee; */
}

.our-team h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    
}

.card-doctor {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 80px;

}


.ket-doctor h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* text-align: center; */

    color: #555555;
}

.ket-doctor h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #0B7125;
}

.ket-doctor h6 {
    margin: 0 auto;
    width: 243px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* text-align: center; */
    margin-top: 15px;
    color: rgba(85, 85, 85, 0.8);
}

