* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    width: auto;
}
.articelkonten{
    height: 1402px;
    left: 0px;
    top: 170px;
    padding-top: 70px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
}

.articelkonten .pagekonten p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    margin-top: 30px;
    text-transform: capitalize;
    
    /* B */
    
    color: #555555;
    
}
.articelkonten .pagekonten h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    /* or 47px */
    
    text-transform: capitalize;
    margin-top: 40px;
    color: #0B7125;
}
.articelkonten .pagekonten h2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    margin-top: 30px;
    color: #555555;
}
.articelkonten .pagekonten .d-flex h1{
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #555555;
}
.articelkonten .pagekonten .d-flex .icon a{
    text-decoration: none;
}
.articelkonten .pagekonten .d-flex .icon{
    margin-top: 40px;
    margin-left: 20px;
}
.articelkonten .pagepost{
    width: 390px;
    height: 667px;
    padding: 30px 0px 0px 30px;
    margin-left: 100px;
    
    border: 1px solid rgba(85, 85, 85, 0.4);
    border-radius: 0px 50px;
}
.articelkonten .pagepost h1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    /* B */
    
    color: #0B7125;
}
.articelkonten .pagepost .boxpost{
    margin-top: 30px;
}
.articelkonten .pagepost .boxpost img{
    width: 150px;
    height: 150px;
}
.articelkonten .pagepost .boxpost a{
    text-decoration: none;
}
.articelkonten .pagepost .boxpost a p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    margin-left: 15px;
    /* B */
    color: #0B7125;
}
.articelkonten .pagetag{
    width: 387px;
    height: 355px;
    margin-left: -30px;
    margin-top: 150px;
    padding: 30px 0px 30px 30px;
    background: #FFFFFF;
    border: 1px solid rgba(85, 85, 85, 0.4);
    box-sizing: border-box;
    border-radius: 0px 50px;
}
.articelkonten .pagetag h1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    /* B */
    
    color: #0B7125
}

.articelkonten .pagetag .buttonbox{
    margin-top: 20px;
}
.articelkonten .pagetag .buttonbox a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 15px;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    background: #0B7125;
    border-radius: 0px 10px;
}