* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    width: auto;
}
.contact{
    margin-bottom: 160px;
}
.contact h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    
    /* B */
    
    color: #0B7125;
}
.conten-page{
    height: 400px;
    left: 0px;
    margin-top: 100px;

    background: rgba(11, 113, 37, 0.1);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25); 
}
.conten-page .container{
    display: flex;
}

.conten-page .container .conten-1 .title h1{

    padding-top: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    
    
    color: #555555;
}
.conten-page .container .title  font{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    
    
    /* B */
    
    color: #0B7125;
}
.conten-page .container .img-1 {
    padding-top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    
    /* B */
    text-decoration: none;
    color: #0B7125;
}
.conten-page .container .img-1 .img-contact {
    padding-bottom: 15px;
    display: flex
}
.conten-page .container .img-1 .img-contact img{
    margin-right: 10px;
}
.conten-page .container .img-1 .img-contact .icon{
    margin-left: 45px;
}
.conten-page .container .conten-2{
    padding-top: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    
    
    color: #555555;
    margin-left: 190px;
}
.conten-page .container .img-1 .img-contact font a{
    text-decoration: none;
    color: #0B7125;
}
.conten-page .container .icon a {
    text-decoration: none;
}
.circle1{
    margin: 0;
    padding: 0;
    margin-left: -150px;
}
