
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    width: auto;
    

}
@media (max-width : 760px){
    .header{
        height: 100%;
        background-color: darkgoldenrod;
    }
}
.header
{
    height: 100px;

    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.5);
}
.header .container img{     
    width: 150px;
    margin-left: -20px;
    
       
}
.header .container .nav{
    margin-top: -95px;
    margin-left: 880px;
}
.header .container .nav a img{
    
    width: 40px;
    height: 40px;    
}
.header .container .nav p{
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
    /* identical to box height */
    
    
    color: #555555;
}
.header .container .nav .text{
    color: #0B7125;
    font-weight: 700;
    margin-left: 10px;
}

.navbar .container .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .container .navbar-brand{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #555555;
}
.navbar .container .navbar-brand:hover{
    color: #0B7125;
}
.navbar .container .navbar-nav{
    margin-left: 30px;
    
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.navbar .container .navbar-nav li a{
    text-decoration: none;
    margin-right: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #555555;
}
.navbar .container .navbar-nav li a:hover{
    color: #0B7125;
}
.navbar .container .icon-navbar{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar .container .icon-navbar a{
    text-decoration: none;

}
.navbar .container .icon-navbar p{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(85, 85, 85, 0.7)
}
.navbar{
    height: 70px;
    top: 3px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px rgba(153, 153, 153, 0.2);
}
.navbar .container .navigation{
    margin-left: -30px;
    margin-top: 10px;
}
.navbar .container .navigation ul {
    display: flex;
    list-style: none;
}

.navbar .container .navigation ul li a:hover{
    background: #0B7125;
    color: aliceblue;
    padding: 20px 0px 25px 0px;
}
.navbar .container .navigation .allnav{
    display: flex;
}
.navbar .container .navigation .home li a{
    margin-right: 50px;
    text-decoration: none;
    
}
.navbar .container .navigation .allnav li a{
    margin-right: 50px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #555555;
}
.navbar .container .navigation .icon-navbar{
    display: flex;
    margin-left: 90px;
}
.navbar .container .navigation .icon-navbar a{
    margin-right: 20px;
    text-decoration: none;
}
.navbar .container .navigation .icon-navbar a p{
    margin-right: 20px;
    margin-top: 2px;
    
}