* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    width: auto;
}
.conten
{
    margin-bottom: 160px;
    text-align: center;
}
.conten .container h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    /* B */
    
    color: #0B7125;
}
.card {

    width: 1140px;
    height: 415px;
    /* left: 150px; */
    background: #FFFFFF;
    box-shadow: 0px 16px 53px rgba(149, 149, 149, 0.25);
    border-radius: 0px 100px;
    padding: 50px;
    margin-bottom: 50px;
}

.col h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #555555;
}

.col h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #53B261;
    margin-top: -10px;
}

.col .detail {
    display: flex;
}

.col .detail img {
    width: 463px;
    height: 215px;
    margin-top: 20px;
}

.col .detail p {
    margin-left: 62px;
    width: 468px;
    margin-top: 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: rgba(85, 85, 85, 0.7);
}

.col .sm-icon {
    height: 40px;
    display: flex;
    margin-left: 537px;
    margin-top: -68px;

}


.col .sm-icon img {
    width: 40px;
    height: 40px;
}


.col .sm-icon p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    margin-top: 5px;
    margin-left: 10px;
    color: #555555;
}
.circle1{
    margin: 0;
    padding: 0;
    margin-left: -150px;
}