@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    width: auto;
    

}
.conten .container h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    padding: 0px 0px 164px 0px;
    text-transform: uppercase;
    text-align: center;
    
    color: #0B7125;
    
}
iframe{
    width: 100%;
    margin-top: 100px;
}
.circle1{
    margin: 0;
    padding: 0;
    margin-left: -150px;
}
.circle2{
    margin-top: -200px;
}
.title-dokter h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    margin-top: 130px;
    
    color: #555555;
}
.title-dokter font{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    
    /* B */
    
    color: #0B7125;
}
.card-doctor {
    display: flex ;
    margin-top: 50px;
    margin-bottom: 80px;

} 
.card-doctor .ket-doctor h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    text-align: center;
    
    color: #555555;
}
.card-doctor .ket-doctor h5{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    
    /* B */
    
    color: #0B7125;
}
.card-doctor .ket-doctor h6{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 250px;
    margin: auto;
    color: rgba(85, 85, 85, 0.8);
}